table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td{
    border: solid black;
    text-align: center;
  }
  .noborder{
    border:none;

}
.intervalo{
    width: 100%;
    height: 50px;
}


